/* GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:all .5s ease-in-out;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    max-width: 1400px;
    margin: auto;
}

.separador{
    margin: 200px 0;
}

/* Etiquetas Semanticas html */
html {
    font-size: 15px;
}

body{
    background-color: #E9F0F7;
}

nav {
    background-color: #355861;
    border-bottom: solid black 4px;
    min-width: 230px;
}


.contenedor-footer p{
    text-align: left;
    height: 20px;
    background-color: #bfdae1;
    color: #202020;
    font-size: smaller;
}

/* Atributos del NAV */
nav a{
    text-decoration: none;
    color: rgb(225 225 225);
    font-size: 1.6rem;
    font-family: 'Mukta', sans-serif;
    font-weight: 500;
}

.dropdown{
    display: none;
    
}
a.menu:hover{
    color: #E0DCA8;
}

.contenedor-logo img{
    width: 100%;
    height: 70px;
    max-width: 450px;
}
.contenedor-logo{
    background-color: #bfdae1;
}

/* Atributos del MAIN */
.tarjeta {    
    display: grid;
    grid-template-areas:
    "foto" 
    "nombre" 
    "email"
    "tel"
    "redes";
    margin: 50px auto;
    border:#202020 double 5px;
    border-radius: 10px;
    overflow:hidden;
    max-width: 320px;
}

.contenedor-foto{
    grid-area: foto;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 10px 10px 0px 0px;
    background: #355861;
    padding: 20px;
}

#FotoPrincipal{
    width: 98%;
    border-radius: 10px 10px 10px 10px;
    filter: saturate(85%) drop-shadow(1px 1px  2px  white);
}

.contenedor-nombre{
    grid-area: nombre;
    background: #355861;
    font-family: 'Mukta', sans-serif;
    font-size: 0.9rem;
    display:flex;
    justify-content:space-around;
    flex-direction: column;
    align-items:center;
    color:#BFDAE1;
    text-align: center;
}

.contenedor-email{
    grid-area: email;
    background: #355861;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    overflow:hidden;
}

.contenedor-tel{
    grid-area: tel;
    background: #355861;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.contenedor-redes{
    grid-area: redes;
    background: #355861;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content:space-around;
    padding: 10px 10px 25px 10px;
    border-radius: 0px 0px 10px 10px;
}

.fa-2x {
    color: #202020;
    padding: 5px 10px;
    border-radius:  25%;
    background-color: rgb(60, 95, 104);
    border: solid #202020 2px;
}

.fa-2x:hover {
    color: #F7F3BA;
    background-color: #2C4356;
    font-size: 2.5rem;
}

.contenedor-email a, .contenedor-tel a{
    text-decoration: none;
    color: #202020;
    font-family: 'Mukta', sans-serif;
}

.fa-3x{
    padding: 5px 10px;
    border-radius:  25%;
    color: #2C4356;
    background-color:#f7f3baaf;
    border: solid #202020 2px;
}

/* Atributos del SECCIONES */
.contenedor h2 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.contenedor p{
    text-align: justify;
    margin: 25px;
    line-height: 150%;
}

ul {
    list-style-type:circle;
    text-align: justify;
    list-style-position: inside;
    line-height: 180%;
    margin: 0px 25px;
}

.contenedor h4 {
    text-align: center;
    
}

#presentacion h2{
    animation-name:anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    padding-top: 50px;
}

@keyframes anim{
    0% {color: rgb(82, 90, 3);}
   25% {color: rgb(25, 153, 144);}
   50% {color: #4a1eb8cb;} 
   75% {color: rgb(25, 153, 144);}
  100% {color: rgb(82, 90, 3);} 
}

#infantil .contenedor-titulo:hover, #estetica .contenedor-titulo:hover, #contacto .contenedor-titulo:hover {
    -webkit-transform:scale(1.2);transform:scale(1.2);
    margin-bottom: 150px
}

#infantil .contenedor-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6))
        ,url(img/dermainfa-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    color:whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contenedor-texto p{
    margin-bottom: 75px;
}
.contenedor-texto h4{
    margin-bottom: 10px;
}

#estetica .contenedor-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6))
        ,url(img/estetica-hero2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    color:whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#contacto .contenedor-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6))
        ,url(img/hero-contacto.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    color:whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 50px;
}

/* formulario */
.form {
    background: #2C4356;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    max-width: 320px;
    margin:auto;
    padding-top: 20px;
}

input {
    background: none;
    font-weight: normal;
    color:rosybrown;
}

::placeholder, #p0, .radio{color:lightgray;
    word-spacing: 3px;
}

textarea::placeholder{
    color:#202020;
}

.radio {
    margin: 0px 0px 10px 0px;
}

.btn button {
    margin-top: 50px;
    font-size: 1.5rem;
    border-radius: 5px;
    color: #202020;
    background-color:#BFDAE1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#p01 {
    color:lightgray;
    font-family: serif;
    font-size: 1.5rem;
    animation-name: alert;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes alert{
    0% {color: whitesmoke;}
   50% {color: lightgrey;}
   100% {color: whitesmoke;} 
}

#p0{
    margin: 10px 0px 0px 0px;
}
/* Mapa */
.contenedor-ubicacion{
    margin-top: 50px;
}

.contenedor-mapa {
    display: flex;
    justify-content: space-evenly;
    align-content:space-around;
    flex-flow: row wrap;
    height: 400px;
    overflow: hidden;
}
.mapa {
    width: 80%;
}


.contenedor-img {
    display: none;
}

@media only screen and (min-width: 768px) {
    .contenedor-logo{
        display: flex;
        justify-content: space-between;
    }

    .contenedor-logo img{
        width: 450px;
    }
    .contenedor-menu {
        display: none;
    }
    .dropdown {
        font-size: 40px;
        margin-top: 15px;
        cursor: pointer;
        position: relative;
        display: inline-block;
        
    }
    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #bfdae1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border: solid black 1px;
        border-radius: 5px 0px 5px 5px;
    }  
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {
        background-color: #f7f3baaf;
        color:rgb(195, 81, 39);
        font-weight: bold;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
    nav{
        background-color: #bfdae1;
    }
    .contenedor-footer p{
        text-align: center;
    }

    .contenedor-img img{
        width: 20rem;
        border:#202020 solid 1px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
        border-radius: 5px;
    }
    .contenedor-img {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        flex-wrap: wrap;
        row-gap: 35px;
        column-gap: 150px;
        margin-top: 100px;
        margin-bottom: 100px;
        
    }
    #presentacion h2{
        font-size: 2rem;
    }    
}

@media only screen and (min-width: 1024px) {
    .dropdown {
        display:none;
    }

    
    .tarjeta {    
        grid-template-areas:
        "foto email" 
        "foto tel" 
        "nombre redes";
        max-width: 85vh;
        font-size: 1.3rem;
        transition:all .1s ease-in-out;
        margin-top: 100px;

    }

    #FotoPrincipal {
        width: 97%;
    }
    .contenedor-foto{
        border-radius: 10px 0px 0px 0px;
    }
    .contenedor-email, .contenedor-tel{
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
    
    }
    .contenedor-email h3, .contenedor-tel h3{
        margin-top: 10px;
    
    }
    .contenedor-email {
        border-radius: 0px 10px 0px 0px;
    }
    
    .contenedor-nombre{
        font-size: 1.2rem;
        justify-content: start;
    }
    
    .contenedor-redes{
        border-radius: 0px 0px 10px 0px;
        align-content: center;
        padding: 0;
    }
    nav{
        background-color: #bfdae1;
    }
    .contenedor-navfull{
        display: flex;
        justify-content:space-between;
        align-items: center;
        background-color: #bfdae1;
    }
    .contenedor-menu {
        display:flex;
        justify-content: space-evenly;
        column-gap: 20px;
        
        
    }
    .contenedor-menu a{
       color:#202020;
       font-weight: bold;
        
    }
    #presentacion h2, .contenedor-titulo h2 {
        font-size: 3rem;
    }
    #presentacion p{
        font-size: 1.2rem;
    }

    
    footer {
        background-color:#bfdae1;
        border-top: solid black 4px;
    }
    .contenedor-footer p{
        text-align: right;
    }

    .contenedor-img img{
        width: 22rem;
        
    }
    .contenedor-img {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .contenedor-texto {
        font-size: 1.3rem;
    }


}

@media only screen and (min-width: 1300px) {
    .contenedor-img img{
        width: 23rem;
        margin-top: 150px;
        margin-bottom: 150px;
    }
}




